# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore build outputs
client/dist/
server/dist/

# Ignore environment files
*.env

# Ignore logs
*.log

# OS/System files
.DS_Store
.vscode/
